p.registrar{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

input.registrar{
    margin-bottom: 15px;
    margin-left: 640px;
    width: 190px;
    height: 20px;
}

select#rol{
    margin-left: 640px;
    width: 170px;
    height: 20px;
}

h3{
    margin-top: 55px;
    position: relative;
    font-size: 30px;
    text-align: center;
}

form.login{
    height: 720px;
    margin-top: 40px;
}
legend.login{
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 30px;
}

input.login{
    margin-top: 20px;
    height: 21px;
    width: 200px;
}


fieldset.login{
    text-align: center;
    height: 90%;
    padding: 5px;
}

label.login{
    font-family: monospace;
    font-size: 20px;
}

img.login{
    margin-top: 20px;
    margin-left: 700px;
    width: 100px;
    height: 100px;
}

